<app-navigation-bar-admin></app-navigation-bar-admin> 
 <div class="parallax">
<div class="container">
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
    <th>ID</th>
    <th>User Name</th>
    <!-- <th>Password</th> -->
    <th>Registration Date</th>
    <th>User Type</th>
    <th>Change Formate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}} </td>
      <td>{{user.name}} </td>
     <!--  <td>{{user.password}} </td> -->
      <td>{{user.Registration_Date}} </td>
      <td>{{user.type}} </td> 
      <td><button (click)="deleteUser(user)"  class="btn btn-outline-danger"> Delete </button>
        <button (click)="UpdateUser(user)" class="btn btn-outline-info"> Edit </button>  </td> 
    </tr>
  </tbody>
<!--   <button (click)="NewUser()" class="btn btn-outline-warning"> New User </button> 
 -->
</table>
</div>
</div>