.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }
 
.parallax {
  
  padding-top: 90px;
  padding-bottom: 90px;
/*      background-image: url("https://eoimages.gsfc.nasa.gov/images/imagerecords/55000/55167/earth_lights.gif");
 */     min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
} 

/* th{
    color: black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
td{
    color:black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
tr:hover{
    background-color :black;
}  */
 