 <app-navigation-bar-admin></app-navigation-bar-admin>
 <div class="parallax">
  <div class="container ">
    <!--Creat table data-->
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
        <th>Region</th>
        <th>Local Authority</th>
        <th>Road Name</th>
        <th>Road Category</th>
        <th>Counting Point</th>
        <th>Link Length Km</th> 
        <th>To Map</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let street of streets">
          <td>{{street.point.region}} </td>
          <td>{{street.point.localAuthority}} </td>
          <td>{{street.point.roadName}} </td>
          <td>{{street.point.roadCategory}} </td> 
          <td>{{street.point.cp}} </td>
          <td>{{street.point.linkLengthKm}} </td>

          <td><button (click)="GoToMap(street)"  class="btn btn-outline-danger"> Go Live </button></td>  
          </tr> 
        </tbody>
      </table>
      <!--/Creat table data-->
      </div>
    </div>
    

