#form1{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 30px;
    opacity: 0.8;
    margin-left: 35%;
    margin-top: 100px; 
    padding-top: 100%;
    padding: 1%;
    width: 30%;
    filter: alpha(opacity=60); /* For IE8 and earlier */  
}
  /* #form1 {
    position: absolute;
    top: 0;
    left: 0;
  } */
  