
<div id="form1"  >
    <!--Form Fields-->
    <p class="h5 text-center mb-4">Sign in</p>
    <p class="h5 text-center mb-4">Please Check Your Position: </p>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="defaultForm-email" class="form-control" (keyup)="setUserName($event)" mdbActive>
        <label for="defaultForm-email">Your User Name</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="defaultForm-pass" class="form-control"  (keyup) = "setPass($event)" mdbActive>
        <label for="defaultForm-pass">Your Password</label>
    </div>
    <!--/Form Fields-->
    <!--Checkbox butons-->
    <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active form-check-label">
        <input class="form-check-input" type="radio" name="UserType" value="Admin" autocomplete="off"  (change)="radioChangeHandler($event)"> ADMIN 
    </label>
    <label class="btn btn-default active form-check-label">
        <input class="form-check-input" type="radio" name="UserType" value="ProgramManager" autocomplete="off" (change)="radioChangeHandler($event)" > PROGRAM MANGER
        </label>
    </div>
    <!--/Checkbox butons-->
<div class="text-center">
    <input (click)="logIn($event)" type="submit" value="login" class="btn btn-default waves-light" mdbRippleRadius>
    
</div>
