/*#container {
  position: relative;

}
#navi,
#infoi {
  /* width: 90%;
  height: 50%; 
  position: absolute;
  top: 0;
  left: 0;
}
#navi{
    padding: 10%;
    margin-left: 400px;
    padding-top: 60px;
   

}
#infoi {
  z-index: -1;
}*/