<app-navigation-bar-admin></app-navigation-bar-admin>
<!--User creation form -->
<form (ngSubmit)= "ProcessForm()" class="view">
    <p style="color:white" class="h5 text-center mb-4">Create / Update User</p>
    <br>
    <br>
    <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>      
            <input type="text" id="defaultForm-pass" name="name" class="form-control" [(ngModel)]="user.name" mdbActive>
        <label for="defaultForm-pass">User Name</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="text" id="defaultForm-pass" name="password" class="form-control" [(ngModel)]="user.password" mdbActive>
        <label for="defaultForm-pass">Password</label>
    </div>
    <div class="md-form">
        <i class="fa fa-id-card prefix grey-text"></i>
        <input type="text" id="defaultForm-pass" name="type" class="form-control" [(ngModel)]="user.type" mdbActive>
        <label for="defaultForm-pass">User Type</label>
    </div>    
<div class="text-center">
    <input  type="submit" value="Save" class="btn btn-deep-orange waves-light" mdbRippleRadius>
</div>
</form>
<!--/User creation form -->

 