<form (ngSubmit)= "ProcessForm()">
<div id="form.div">
    <p class="h5 text-center mb-4">Create New User</p>
    <!-- <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="defaultForm-email" name="id" class="form-control"  [(ngModel)]="user.id" mdbActive>
        <label for="defaultForm-email">ID</label>
    </div> -->

    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="text" id="defaultForm-pass" name="name" class="form-control" [(ngModel)]="user.name" mdbActive>
        <label for="defaultForm-pass">Name</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="text" id="defaultForm-pass" name="password" class="form-control" [(ngModel)]="user.password" mdbActive>
        <label for="defaultForm-pass">Password</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="text" id="defaultForm-pass" name="type" class="form-control" [(ngModel)]="user.type" mdbActive>
        <label for="defaultForm-pass">Type</label>
    </div>

    </div>
    
<div class="text-center">
    <input  type="submit" value="Save" class="btn btn-default waves-light" mdbRippleRadius>
</div>
</form>
<!-- 
<form>
    <p class="h5 text-center mb-4">Create New User</p>

    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="text" formControlName="defaultFormEmail" id="defaultForm-email" class="form-control" [(ngModel)]="user.id" mdbInputDirective>
      <label for="defaultForm-email">ID</label>
    </div>

    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control" [(ngModel)]="user.name" mdbInputDirective>
      <label for="defaultForm-pass">Name</label>
    </div>
    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control" [(ngModel)]="user.password" mdbInputDirective>
        <label for="defaultForm-pass"> password</label>
      </div>
      <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" formControlName="defaultFormPass" id="defaultForm-pass" class="form-control" [(ngModel)]="user.type" mdbInputDirective>
          <label for="defaultForm-pass">type</label>
        </div>

    <div class="text-center">
      <input type="submit" value="save" class="btn btn-default waves-light" mdbWavesEffect >
    </div>
  </form>
<!-- Login form -->
 