/* import the required JSAPI css */
@import 'https://js.arcgis.com/4.6/esri/css/main.css';

.esri-view {
  height: 700px;
}
html,
    body {
      font-family: sans-serif;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    #mapViewNode {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 60px;
    }
.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.sublayers {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.sublayers-item {
  flex-grow: 4;
/*   background-color: rgba(34, 111, 14, .5);
 */  
 background-color: black;
 color: #FFF;
  margin: 1px;
  width: 50%;
  padding: 20px;
  overflow: auto;
  text-align: center;
  cursor: pointer;
  font-size: 0.7em;
}

.visible-layer {
  color: #fff;
  background-color: #226F0E;
} 
#yellow{
  color: yellow
}
#orange{
  color: orange

}
#red{
  color:red
}
#s{
  color: yellow
}
#a{
  color: orange
}
#p{
  color: red
}