<!-- Here's the DIV that we inject the map into -->
<div #mapViewNode></div>
<div class="footer">
    <div class="sublayers">
      <div class="sublayers-item" (click)="showAllPoints($event)" id= "0" ><span id="s">Show</span> <span id="a">All</span> <span id= "p">Points</span></div>
       <div class="sublayers-item" (click)="showYellowPoints($event)" id="yellow">Show Yellow Points</div>
       <div class="sublayers-item" (click)="showOrangePoints($event)" id="orange">Show Orange Points</div>
      <div class="sublayers-item" (click)="showRedPoints($event)" id="red">Show Red Points</div>
    </div>
  </div>
  


